
<h3>Create new Cohort</h3>

<form id="create-cohort">
    <input id="enter-cohort-name" type="text" 
        name="new_cohort_name" placeholder="Cohort Name">
    <input id="enter-cohort-password" type="password" 
        name="new_cohort_password" placeholder="Cohort Password">
    <input type="submit">
</form>
    


<h3>Create new Lab TODO</h3>

<form id="create-lab">
    <input id="enter-lab-name" type="text" 
        name="new_lab_name" placeholder="Lab Name"><br>
        <input id="enter-lab-description" type="text" 
        name="new_lab_description" placeholder="Lab Description">
    <input type="submit">
</form>
