{% extends 'base.html' %}

{% block title %} Kat Cohort Home {% endblock %}

{% block content %}

{% if "admin_id" not in session %}
    {% if "student_id" not in session %}
    <div id="join-cohort-form">
        <h3>Join this Cohort!</h3>

        <form id="join-cohort">
            <input required id="enter-student-name" type="text" 
                name="new_student_name" placeholder="Your Full Name">
            <input required id="enter-student-email" type="text" 
                name="new_student_email" placeholder="Your email">
            <input required id="enter-student-password" type="password" 
                name="new_student_password" placeholder="Your Personal Password">
            <input required id="enter-this-cohort-password" type="password" 
                name="cohort_password" placeholder="Cohort Secret Password">
            <input type="submit">
        </form>
    </div>
    {% endif %}
{% endif %}


<div class="row">
    <div class="col-md-6">
        <h2>{{ cohort.name}} Members:</h2>
        <ul id="student-list">
            {% for member in cohort_members %}
                <li><a href="/{{ member.student_id }}-profile">{{ member.name }}</a></li>
            {% endfor %}
        </ul>
        <h5>grad date is {{ cohort.grad_date.strftime('%m/%d/%Y') }}</h5>
        {% if "admin_id" in session %}

            <h3>Create new Lab</h3>

            <form id="create-lab">
                
                <input required required id="enter-lab-name" type="text" 
                    name="new_lab_name" placeholder="Lab Name">
                <input required required id="enter-lab-instructions" type="text" 
                    name="new_lab_instructions" placeholder="Lab Instructions Link"><br>
                <textarea required required id="enter-lab-description" type="text" cols="49" rows="5" 
                    name="new_lab_description" placeholder="Lab Description"></textarea><br>
                <input required required id="enter-lab-date" type="date" name="new_lab_date">     
                <input type="submit">
            </form>

        {% endif %}

    </div>

    <div class="col-md-6">
        <h2>{{ cohort.name}} Labs:</h2>
        <ul id="lab-list">
            {% for lab in cohort_labs %}
                <li><a href="{{url_for('lab_details', lab_id = lab.lab_id)}}">{{ lab.title }}</a></li>
            {% endfor %}
        </ul>
        
    </div>

</div>







{% endblock %}

{% block scripts %}
<script src="../static/jquery.multi-select.js"></script>
<script type="text/javascript" src="../static/newStudent.js"></script>
<script type="text/javascript" src="../static/admin.js"></script>
{% endblock %}