{% extends 'base.html' %}

{% block title %} Kat Cohort Home {% endblock %}

{% block content %}





<div class="row">
    <div class="col-md-6">
        <h2>{{ cohort.name}} Members:</h2>
        <ul id="student-list">
            {% for member in cohort_members %}
                <li><a href="/{{ member.student_id }}-profile">{{ member.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6">
        <h2>{{ cohort.name}} Labs:</h2>
        <ul id="lab-list">
            {% for lab in cohort_labs %}
                <li><a href="{{url_for('lab_details', lab_id = lab.lab_id)}}">{{ lab.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

<h3>grad date is {{ cohort.grad_date }} KATRINA DON'T FORGET TO FIX THIS</h3>


{% if "admin_id" not in session %}
    {% if "student_id" not in session %}
        <h3>Join this Cohort!</h3>

        <form id="join-cohort">
            <input id="enter-student-name" type="text" 
                name="new_student_name" placeholder="Your Full Name">
            <input id="enter-student-email" type="text" 
                name="new_student_email" placeholder="Your email">
            <input id="enter-student-password" type="password" 
                name="new_student_password" placeholder="Your Personal Password">
            <input id="enter-this-cohort-password" type="password" 
                name="cohort_password" placeholder="Cohort Secret Password">
            <input type="submit">
        </form>

    {% endif %}
{% else %}

    <h3>Create new Lab</h3>

    <form id="create-lab">
        <input id="enter-lab-name" type="text" 
            name="new_lab_name" placeholder="Lab Name">
            <input id="enter-lab-description" type="text" 
            name="new_lab_description" placeholder="Lab Description">
        <input type="submit">
    </form>

{% endif %}



{% endblock %}