{% extends 'base.html' %}

{% block title %} Kat Project Home {% endblock %}

{% block content %}

<h1>Welcome!</h1>


{% if "student_id" not in session and "admin_id" not in session %}
    <h3>New student?</h3>
        <h4>Select the cohort you are joining!</h4>
            {% include 'cohort_list.html' %}
    <h3>Returning user?</h3>
        <h4>Sign in here!</h4>
            {% include 'signin.html' %}
{% else %}

    <h3>All Cohorts</h3>
        {% include 'cohort_list.html' %}

    {% if "admin_id" in session %}
        {% include 'admin_home.html' %}
    {% endif %}

{% endif %}


{% endblock %}

{% block scripts %}
<script src="../static/jquery.multi-select.js"></script>

<script type="text/javascript" src="../static/admin.js"></script>
{% endblock %}


{% if g.jasmine_tests %}
    <link rel="stylesheet" href="/static/jasmine.min.css">
    <script src="/static/jasmine.min.js"></script>
    <script src="/static/jasmine-html.min.js"></script>
    <script src="/static/boot.min.js"></script>
    <script src="/static/admin-spec.js"></script>
{% endif %} 
