{% extends 'base.html' %}

{% block title %} Kat Project Keywords {% endblock %}

{% block content %}

<h1>All Keywords</h1>

<ul id="keyword-list">
    {% for keyword in keywords %}
        <li> <button id="keyword{{ keyword.keyword_id }}" class="keyword-button" value="{{ keyword.keyword_id }}">{{ keyword.keyword }} <i class="fa fa-caret-down"></i></button>
            <ul id="labs-of-{{ keyword.keyword_id }}"> </ul>
        </li>
    {% endfor %}
</ul>
<ul display="none" id="related-labs">
</ul>


{% endblock %}


{% block scripts %}
<script type="text/javascript" src="../static/keyword.js"></script>
{% endblock %}