{% extends 'base.html' %}

{% block title %} Kat Project Lab {% endblock %}

{% block content %}

<h1>{{ lab.title }}</h1>

<h2>{{ lab.description }}</h2>



<!-- {{ lab.date }} -->
<ul>
    {% for pair in pairs %}
    <li><h3>{{ pair.student1.name }} paired with {{ pair.student2.name }}</h3>
        notes: {{ pair.notes }}</li>
    {% endfor %}
</ul>


<h4>Keywords:</h4>
<ul id="related-keywords">
    {% for keyword in keywords %}
    <li><h5>{{ keyword.keyword }} </h5></li>
    {% endfor %}
</ul>

{% if "student_id" in session or "admin_id" in session %}

    <h3>Add Keyword to this Lab</h3>

    <form id="add-keyword">
        <input id="enter-new-keywords" type="text" 
                name="new_keywords" placeholder="comma separated keywords">
        <input id="enter-lab-id" type="hidden" name="lab_id_for_keyword" value="{{ lab.lab_id }}" >
        <input type="submit">
    </form>

{% endif %}





{% endblock %}