{% extends 'base.html' %}

{% block title %} Kat Project Lab {% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="../static/css/multi-select.css">

{% endblock %}

{% block content %}

<h1>{{ lab.title }}</h1>

<h2>{{ lab.description }}</h2>



<!-- {{ lab.date }} -->
<ul id="established-pairs">
    {% for pair in pairs %}
    <li><h3>{{ pair.student1.name }} paired with {{ pair.student2.name }}</h3>
        notes: {{ pair.notes }}</li>
    {% endfor %}
</ul>


<h4>Keywords:</h4>
<ul id="related-keywords">
    {% for keyword in keywords %}
    <li><h5>{{ keyword.keyword }} </h5></li>
    {% endfor %}
</ul>

{% if "student_id" in session or "admin_id" in session %}

    <h3>Add Keyword to this Lab</h3>

    <form id="add-keyword">
        <input id="enter-new-keywords" type="text" 
                name="new_keywords" placeholder="comma separated keywords">
        <input id="enter-lab-id" type="hidden" name="lab_id_for_keyword" value="{{ lab.lab_id }}" >
        <input type="submit">
    </form>

{% endif %}

{% if "admin_id" in session %}
<hr>
    <h3>Pair Students for this Lab</h3>
    <a href='#' id='deselect-all'>deselect all</a>
    <form id="new-pairs">
        <select id='new-pair' multiple='multiple'>
          {% for student in students %}
          <option value='{{ student.student_id }}'>{{ student.name }}</option>
          {% endfor %}
        </select>
        <input type="hidden" id="lab-id" name="lab_id" value="{{ lab.lab_id }}">
        <input type="submit">
    </form>
{% endif %}



{% endblock %}





{% block scripts %}
<script src="../static/jquery.multi-select.js"></script>

<script type="text/javascript" src="../static/admin.js"></script>
{% endblock %}