{% extends 'base.html' %}

{% block title %} Kat Project Lab {% endblock %}


{% block content %}
<div class="row top-row">
<h1 class="page-title">{{ lab.title }}</h1>
<h4>{{ lab.description }}</h4>
<h4><a href="{{ lab.instructions }}">Instructions</a></h4>
<h5>{{ lab.date.strftime('%m/%d/%Y') }}</h5>
</div>


<div class="row">
<div class="col-md-8">

{% if "admin_id" in session and students|length > 1 %}
<div id="pair-students">
<hr>
    <h3>Pair Students for this Lab</h3>
    <a href='#' id='deselect-all'>deselect all</a>
    <form id="new-pairs">
        <select required id='new-pair' multiple='multiple'>
          {% for student in students %}
          <option value='{{ student.student_id }}'>{{ student.name }}</option>
          {% endfor %}
        </select>
        <input required type="hidden" id="lab-id" name="lab_id" value="{{ lab.lab_id }}">
        <input required type="submit">
    </form>
</div>
{% endif %}

<ul id="established-pairs">
    {% for pair in pairs %}
        {% if pair.student1.student_id == session["student_id"] %}
            <li><h3 class="signed-in"><a href="/pair/{{ pair.pairing_id }}">{{ pair.student1.name }} paired with {{ pair.student2.name }}</a></h3>
                <p class="overflow-notes">notes: {{ pair.notes }}</p></li>
        {% else %}
            <li><h3><a href="/pair/{{ pair.pairing_id }}">{{ pair.student1.name }} paired with {{ pair.student2.name }}</a></h3>
                <p class="overflow-notes">notes: {{ pair.notes }}</p></li>
        {% endif %}
    {% endfor %}
</ul>



</div>


<div class="col-md-4">


{% if "student_id" in session or "admin_id" in session %}
    
    <h3>Add Keyword to this Lab</h3>

    <form id="add-keyword">
        <input id="enter-new-keywords" type="text" 
                name="new_keywords" placeholder="comma separated keywords"><br>
        <input id="enter-lab-id" type="hidden" name="lab_id_for_keyword" value="{{ lab.lab_id }}" >
        <input type="submit">
    </form>

{% endif %}

<h4>Keywords:</h4>
<ul id="related-keywords">
    {% for keyword in keywords %}
    <li><h5>{{ keyword.keyword }} </h5></li>
    {% endfor %}
</ul>

</div>
</div>

{% endblock %}





{% block scripts %}
<script src="../static/jquery.multi-select.js"></script>
<script type="text/javascript" src="../static/keyword.js"></script>

<script type="text/javascript" src="../static/admin.js"></script>
{% endblock %}