{% extends 'base.html' %}

{% block title %} Kat Project All Labs {% endblock %}

{% block content %}
<div id="lab-history">
<h1>Lab History</h1>

<ul>
    {% for lab in labs %}
        <li><h3><a href="{{url_for('lab_details', lab_id = lab.lab_id)}}">{{ lab.title }}</a></h3>
            <p>{{ lab.description }}</p>
            <p>({{ lab.cohort.name }} cohort, {{ lab.date.strftime('%m/%d/%Y') }})</p>
        </li>
    {% endfor %}
</ul>
</div>

{% endblock %}



{% block scripts %}Scripts here{% endblock %}