{% extends 'base.html' %}

{% block title %} Kat Project Profile {% endblock %}

{% block content %}

<h1>Lab History</h1>

<ul>
    {% for lab in labs %}
        <li><h3><a href="{{url_for('lab_details', lab_id = lab.lab_id)}}">{{ lab.title }}</a></h3>
            <p>{{ lab.description }}</p>
            <p>({{ lab.cohort.name }} cohort, {{ lab.date.strftime('%m/%d/%Y') }})</p>
        </li>
    {% endfor %}
</ul>

<p>ATTENTION KATRINA!!!!!!!!!!!!!!!!</p>
<p>TODO: labs should have the date</p>

{% endblock %}